.navbar_list-item {
   transition: color 0.2s;
   -webkit-transition: color 0.2s;
   -moz-transition: color 0.2s;
   -ms-transition: color 0.2s;
   -o-transition: color 0.2s;
}

.navbar_list-item::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background: var(--border);
    z-index: -1;
    left: 100%;
    width: 0%;
    transition: 0.2s;
}

.navbar_list-item:hover {
    color: var(--card);
}

.navbar_list-item:hover::before {
    left: 0%;
    width: 100%;
    transition: width 0.2s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}

.logo {
    animation: rotate 3s infinite;
    -webkit-animation: rotate 3s infinite;
}